[Desktop Entry]
Name=βιϐλιον 
Version=v0.8.5
Icon=/home/jetson/Projects/BiblionOCR/ViewController/0-MainUI/Icons/BiblionBoxer2.png
X-Icon-Path=/home/jetson/Projects/BiblionOCR/ViewController/0-MainUI/Icons/
Exec=/home/jetson/Projects/BiblionOCR/launchers/run-myboxer.sh %f
Terminal=true
Type=Application
Name[en_US]=βιϐλιον Boxer
