/* Generated theme: Tide; schema v1. */
/*
 * The MIT License (MIT)
 *
 * Copyright (c) <2013-2014> <Colin Duquesnoy>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:

 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.

 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

QProgressBar:horizontal {
    border: 1px solid #D3D3D3;
    text-align: center;
    padding: 1px;
    background: #F7F7F7;
}
QProgressBar::chunk:horizontal {
    background-color: qlineargradient(spread:reflect, x1:1, y1:0.545, x2:1, y2:0, stop:0 rgba(28, 66, 111, 255), stop:1 rgba(37, 87, 146, 255));
}

QToolTip
{
    border: 1px solid #D3D3D3;
    background-color: rgb(90, 102, 117);
    color: #FFFFFF;
    padding: 1px;
    opacity: 200;
}

QWidget
{
    color: #2A2A2A;
    background-color: #FFFFFF;
    selection-background-color:#9E1B32;
    selection-color: #1A1A1A;
    background-clip: border;
    border-image: none;
    outline: 0;
}

QWidget:item:hover
{
    background-color: #7A1426;
    color: #1A1A1A;
}

QWidget:item:selected
{
    background-color: #9E1B32;
}

QCheckBox
{
    spacing: 5px;
    outline: none;
    color: #2A2A2A;
    margin-bottom: 2px;
}

QCheckBox:disabled
{
    color: #777777;
}
QCheckBox::indicator,
QGroupBox::indicator
{
    width: 18px;
    height: 18px;
}
QGroupBox::indicator
{
    margin-left: 2px;
}

QCheckBox::indicator:unchecked,
QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked,
QGroupBox::indicator:unchecked:hover
{
    image: url("@ASSET_ROOT@/checkbox_unchecked.png");
}

QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed
{
  border: none;
    image: url("@ASSET_ROOT@/checkbox_unchecked_focus.png");
}

QCheckBox::indicator:checked,
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked,
QGroupBox::indicator:checked:hover
{
    image: url("@ASSET_ROOT@/checkbox_checked.png");
}

QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed
{
  border: none;
    image: url("@ASSET_ROOT@/checkbox_checked_focus.png");
}

QCheckBox::indicator:indeterminate,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed,
QGroupBox::indicator:indeterminate,
QGroupBox::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:pressed
{
    image: url("@ASSET_ROOT@/checkbox_indeterminate.png");
}

QCheckBox::indicator:indeterminate:focus,
QGroupBox::indicator:indeterminate:focus
{
    image: url("@ASSET_ROOT@/checkbox_indeterminate_focus.png");
}

QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled
{
    image: url("@ASSET_ROOT@/checkbox_checked_disabled.png");
}

QCheckBox::indicator:unchecked:disabled,
QGroupBox::indicator:unchecked:disabled
{
    image: url("@ASSET_ROOT@/checkbox_unchecked_disabled.png");
}

QRadioButton
{
    spacing: 5px;
    outline: none;
    color: #2A2A2A;
    margin-bottom: 2px;
}

QRadioButton:disabled
{
    color: #777777;
}
QRadioButton::indicator
{
    width: 21px;
    height: 21px;
}

QRadioButton::indicator:unchecked,
QRadioButton::indicator:unchecked:hover
{
    image: url("@ASSET_ROOT@/radio_unchecked.png");
}

QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed
{
  border: none;
  outline: none;
    image: url("@ASSET_ROOT@/radio_unchecked_focus.png");
}

QRadioButton::indicator:checked,
QRadioButton::indicator:checked:hover
{
  border: none;
  outline: none;
    image: url("@ASSET_ROOT@/radio_checked.png");
}

QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed
{
  border: none;
  outline: none;
    image: url("@ASSET_ROOT@/radio_checked_focus.png");
}

QRadioButton::indicator:checked:disabled
{
  outline: none;
  image: url("@ASSET_ROOT@/radio_checked_disabled.png");
}

QRadioButton::indicator:unchecked:disabled
{
    image: url("@ASSET_ROOT@/radio_unchecked_disabled.png");
}


QMenuBar
{
    background-color: #FFFFFF;
    color: #2A2A2A;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background: transparent;
    border: 1px solid #D3D3D3;
}

QMenuBar::item:pressed
{
    border: 1px solid #D3D3D3;
    background-color: #9E1B32;
    color: #1A1A1A;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu
{
    border: 1px solid #D3D3D3;
    color: #2A2A2A;
    margin: 1px;
}

QMenu::icon
{
    margin: 1px;
}

QMenu::item
{
    padding: 2px 2px 2px 25px;
    margin-left: 5px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected
{
    color: #1A1A1A;
}

QMenu::separator {
    height: 2px;
    background: #E8C8CE;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 16px;
    height: 16px;
}

/* non-exclusive indicator = check box style indicator
   (see QActionGroup::setExclusive) */
QMenu::indicator:non-exclusive:unchecked {
    image: url("@ASSET_ROOT@/checkbox_unchecked.png");
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url("@ASSET_ROOT@/checkbox_unchecked_disabled.png");
}

QMenu::indicator:non-exclusive:checked {
    image: url("@ASSET_ROOT@/checkbox_checked.png");
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url("@ASSET_ROOT@/checkbox_checked_disabled.png");
}

/* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */
QMenu::indicator:exclusive:unchecked {
    image: url("@ASSET_ROOT@/radio_unchecked.png");
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url("@ASSET_ROOT@/radio_unchecked_disabled.png");
}

QMenu::indicator:exclusive:checked {
    image: url("@ASSET_ROOT@/radio_checked.png");
}

QMenu::indicator:exclusive:checked:selected {
    image: url("@ASSET_ROOT@/radio_checked_disabled.png");
}

QMenu::right-arrow {
    margin: 5px;
    image: url("@ASSET_ROOT@/right_arrow.png");
}


QWidget:disabled
{
    color: #808080;
    background-color: #FFFFFF;
}

QAbstractItemView
{
    alternate-background-color: #D3D3D3;
    color: #2A2A2A;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 1px;
}

QWidget:focus, QMenuBar:focus
{
    border: 1px solid #7A1426;
}

QTabWidget:focus, QCheckBox:focus, QRadioButton:focus, QSlider:focus
{
    border: none;
}

QLineEdit
{
    background-color: #F7F7F7;
    padding: 2px;
    border-style: solid;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    color: #2A2A2A;
}

QGroupBox {
    border:1px solid #D3D3D3;
    border-radius: 2px;
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #2A2A2A;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

QAbstractScrollArea
{
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: transparent;
}

QScrollBar:horizontal
{
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #EFEFEF;
    border-radius: 4px;
    background-color: #EFEFEF;
}

QScrollBar::handle:horizontal
{
    background-color: #C5C5C5;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal
{
    margin: 0px 3px 0px 3px;
    border-image: url("@ASSET_ROOT@/right_arrow_disabled.png");
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    margin: 0px 3px 0px 3px;
    border-image: url("@ASSET_ROOT@/left_arrow_disabled.png");
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on
{
    border-image: url("@ASSET_ROOT@/right_arrow.png");
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on
{
    border-image: url("@ASSET_ROOT@/left_arrow.png");
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}


QScrollBar:vertical
{
    background-color: #EFEFEF;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #EFEFEF;
    border-radius: 4px;
}

QScrollBar::handle:vertical
{
    background-color: #C5C5C5;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url("@ASSET_ROOT@/up_arrow_disabled.png");
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url("@ASSET_ROOT@/down_arrow_disabled.png");
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{

    border-image: url("@ASSET_ROOT@/up_arrow.png");
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
    border-image: url("@ASSET_ROOT@/down_arrow.png");
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}


QTextEdit
{
    background-color: #F7F7F7;
    color: #2A2A2A;
    border: 1px solid #D3D3D3;
}

QPlainTextEdit
{
    background-color: #F7F7F7;
    color: #2A2A2A;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
}

QHeaderView::section
{
    background-color: #D3D3D3;
    color: #2A2A2A;
    padding-left: 4px;
    border: 1px solid #C0C0C0;
}

QSizeGrip {
    image: url("@ASSET_ROOT@/sizegrip.png");
    width: 6px;
    height: 6px;
}

QMainWindow
{
    background-color: #FFFFFF;

}

QMainWindow::separator
{
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed #D3D3D3;
}

QMainWindow::separator:hover
{

    background-color: #D8D8D8;
    color: #FFFFFF;
    padding-left: 4px;
    border: 1px solid #D3D3D3;
    spacing: 2px;
}


QMenu::separator
{
    height: 1px;
    background-color: #D3D3D3;
    color: #FFFFFF;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}


QFrame
{
    border-radius: 2px;
    border: 1px solid #444;
}

QFrame[frameShape="0"]
{
    border-radius: 2px;
    border: 1px transparent #444;
}

QStackedWidget
{
    background-color: #FFFFFF;
    border: 1px transparent #1A1A1A;
}

QToolBar {
    border: 1px transparent #D3D3D3;
    background: 1px solid #FFFFFF;
    font-weight: bold;
}

QToolBar::handle:horizontal {
    image: url("@ASSET_ROOT@/Hmovetoolbar.png");
}
QToolBar::handle:vertical {
    image: url("@ASSET_ROOT@/Vmovetoolbar.png");
}
QToolBar::separator:horizontal {
    image: url("@ASSET_ROOT@/Hsepartoolbar.png");
}
QToolBar::separator:vertical {
    image: url("@ASSET_ROOT@/Vsepartoolbar.png");
}

QPushButton
{
    color: #2A2A2A;
    background-color: #FFFFFF;
    border-width: 2px;
    border-color: #B8B8B8;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    /* outline: none; */
    /* min-width: 40px; */
}

QPushButton:disabled
{
    background-color: #FFFFFF;
    border-width: 2px;
    border-color: #D3D3D3;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    /*border-radius: 2px;*/
    color: #808080;
}

QPushButton:focus {
    background-color: #9E1B32;
    color: #FFFFFF;
}

QComboBox
{
    selection-background-color: #9E1B32;
    background-color: #F7F7F7;
    border-style: solid;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 2px;
    /* min-width: 30px; */
}

QPushButton:checked{
    background-color: #B8B8B8;
    border-color: #C0C0C0;
}

QPushButton:hover {
    border: 2px solid #7A1426;
    color: #2A2A2A;
}

QComboBox:hover, QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover
{
    border: 1px solid #7A1426;
    color: #2A2A2A;
}

QComboBox:on
{
    background-color: #E8C8CE;
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #D9D9D9;
}

QComboBox QAbstractItemView
{
    background-color: #F7F7F7;
    border-radius: 2px;
    border: 1px solid #444;
    selection-background-color: #9E1B32;
    color: #2A2A2A;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: #A8A8A8;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{
    image: url("@ASSET_ROOT@/decrease_blue.png");
    width: 10px;
    height: 10px;
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus
{
    image: url("@ASSET_ROOT@/decrease_blue.png");
    width: 10px;
    height: 10px;
}

QPushButton:pressed
{
    background-color: #E5E5E5;
}

QAbstractSpinBox {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #D3D3D3;
    background-color: #F7F7F7;
    color: #2A2A2A;
    border-radius: 2px;
   /* min-width: 50px; */
}

QAbstractSpinBox:up-button
{
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: top right;
}

QAbstractSpinBox:down-button
{
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: bottom right;
}

QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:disabled,QAbstractSpinBox::up-arrow:off {
    image: url("@ASSET_ROOT@/increase_blue.png");
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::up-arrow:hover
{
    image: url("@ASSET_ROOT@/increase_blue.png");
}


QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:disabled,QAbstractSpinBox::down-arrow:off
{
    image: url("@ASSET_ROOT@/decrease_blue.png");
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::down-arrow:hover
{
    image: url("@ASSET_ROOT@/decrease_blue.png");
}


QLabel
{
    border: 0px solid #1A1A1A;
}

QTabWidget{
    border: 1px transparent #1A1A1A;
}

QTabWidget::pane {
    border: 1px solid #444;
    border-radius: 3px;
    padding: 3px;
}

QTabBar
{
    qproperty-drawBase: 0;
    left: 5px; /* move to the right by 5px */
}

QTabBar:focus
{
    border: 0px transparent #1A1A1A;
}

QTabBar::close-button  {
    image: url("@ASSET_ROOT@/close.png");
    background: transparent;
}

QTabBar::close-button:hover
{
    image: url("@ASSET_ROOT@/close-hover.png");
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url("@ASSET_ROOT@/close-pressed.png");
    background: transparent;
}

/* TOP TABS */
QTabBar::tab:top {
    color: #2A2A2A;
    border: 1px solid #B8B8B8;
    border-bottom: 1px transparent #1A1A1A;
    background-color: #FFFFFF;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:!selected
{
    color: #2A2A2A;
    background-color: #F7F7F7;
    border: 1px transparent #B8B8B8;
    border-bottom: 1px transparent #B8B8B8;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QTabBar::tab:top:!selected:hover {
    background-color: #F0DDE1;
}

/* BOTTOM TABS */
QTabBar::tab:bottom {
    color: #2A2A2A;
    border: 1px solid #B8B8B8;
    border-top: 1px transparent #1A1A1A;
    background-color: #FFFFFF;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:bottom:!selected
{
    color: #2A2A2A;
    background-color: #F7F7F7;
    border: 1px transparent #B8B8B8;
    border-top: 1px transparent #B8B8B8;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QTabBar::tab:bottom:!selected:hover {
    background-color: #7A1426;
}

/* LEFT TABS */
QTabBar::tab:left {
    color: #2A2A2A;
    border: 1px solid #B8B8B8;
    border-left: 1px transparent #1A1A1A;
    background-color: #FFFFFF;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:left:!selected
{
    color: #2A2A2A;
    background-color: #F7F7F7;
    border: 1px transparent #B8B8B8;
    border-right: 1px transparent #B8B8B8;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

QTabBar::tab:left:!selected:hover {
    background-color: #F0DDE1;
}


/* RIGHT TABS */
QTabBar::tab:right {
    color: #2A2A2A;
    border: 1px solid #B8B8B8;
    border-right: 1px transparent #1A1A1A;
    background-color: #FFFFFF;
    padding: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

QTabBar::tab:right:!selected
{
    color: #2A2A2A;
    background-color: #F7F7F7;
    border: 1px transparent #B8B8B8;
    border-right: 1px transparent #B8B8B8;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QTabBar::tab:right:!selected:hover {
    background-color: #F0DDE1;
}

QTabBar QToolButton::right-arrow:enabled {
     image: url("@ASSET_ROOT@/right_arrow.png");
 }

 QTabBar QToolButton::left-arrow:enabled {
     image: url("@ASSET_ROOT@/left_arrow.png");
 }

QTabBar QToolButton::right-arrow:disabled {
     image: url("@ASSET_ROOT@/right_arrow_disabled.png");
 }

 QTabBar QToolButton::left-arrow:disabled {
     image: url("@ASSET_ROOT@/left_arrow_disabled.png");
 }


QDockWidget {
    border: 1px solid #B8B8B8;
    titlebar-close-icon: url("@ASSET_ROOT@/close.png");
    titlebar-normal-icon: url("@ASSET_ROOT@/undock.png");
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: rgba(255, 255, 255, 10);
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: rgba(255, 255, 255, 10);
}

QTreeView, QListView, QTextBrowser, AtLineEdit, AtLineEdit::hover {
    border: 1px solid #444;
    background-color: #2A2A2A;
    border-radius: 3px;
    margin-left: 3px;
    color: #1A1A1A;
}

QTreeView:branch:selected, QTreeView:branch:hover {
    background: url("@ASSET_ROOT@/transparent.png");
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url("@ASSET_ROOT@/transparent.png");
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url("@ASSET_ROOT@/transparent.png");
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url("@ASSET_ROOT@/transparent.png");
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url("@ASSET_ROOT@/branch_closed.png");
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    image: url("@ASSET_ROOT@/branch_open.png");
}

QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
    image: url("@ASSET_ROOT@/branch_closed-on.png");
    }

QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover  {
    image: url("@ASSET_ROOT@/branch_open-on.png");
    }

QListView::item:!selected:hover, QListView::item:!selected:hover, QTreeView::item:!selected:hover  {
    background: rgba(0, 0, 0, 0);
    outline: 0;
    color: #FFFFFF
}

QListView::item:selected:hover, QListView::item:selected:hover, QTreeView::item:selected:hover  {
    background: #9E1B32;
    color: #FFFFFF;
}

QSlider::groove:horizontal {
    border: 1px solid #D3D3D3;
    height: 8px;
    background: #F7F7F7;
    margin: 2px 0;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
      stop: 0.0 #2A2A2A, stop: 0.2 #C0C0C0, stop: 1 #A0A0A0);
    border: 1px solid #D3D3D3;
    width: 14px;
    height: 14px;
    margin: -4px 0;
    border-radius: 2px;
}

QSlider::groove:vertical {
    border: 1px solid #D3D3D3;
    width: 8px;
    background: #F7F7F7;
    margin: 0 0px;
    border-radius: 2px;
}

QSlider::handle:vertical {
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #2A2A2A,
    stop: 0.2 #C0C0C0, stop: 1 #A0A0A0);
    border: 1px solid #D3D3D3;
    width: 14px;
    height: 14px;
    margin: 0 -4px;
    border-radius: 2px;
}

QToolButton {
    /*  background-color: transparent; */
    border: 2px transparent #B8B8B8;
    border-radius: 4px;
    background-color: #D8D8D8;
    margin: 2px;
    padding: 2px;
}

QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
 padding-right: 20px; /* make way for the popup button */
 border: 2px transparent #B8B8B8;
 border-radius: 4px;
}

QToolButton[popupMode="2"] { /* only for InstantPopup */
 padding-right: 10px; /* make way for the popup button */
 border: 2px transparent #B8B8B8;
}


QToolButton:hover, QToolButton::menu-button:hover {
    border: 2px solid #7A1426;
}

QToolButton:checked, QToolButton:pressed,
    QToolButton::menu-button:pressed {
    background-color: #B8B8B8;
    border: 2px solid #7A1426;
}

/* the subcontrol below is used only in the InstantPopup or DelayedPopup mode */
QToolButton::menu-indicator {
    image: url("@ASSET_ROOT@/down_arrow.png");
    top: -7px; left: -2px; /* shift it a bit */
}

/* the subcontrols below are used only in the MenuButtonPopup mode */
QToolButton::menu-button {
    border: 1px transparent #B8B8B8;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
    outline: none;
}

QToolButton::menu-arrow {
    image: url("@ASSET_ROOT@/down_arrow.png");
}

QToolButton::menu-arrow:open {
    top: 1px; left: 1px; /* shift it a bit */
    border: 1px solid #D3D3D3;
}

QPushButton::menu-indicator  {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    left: 4px;
}

QTableView
{
    border: 1px solid #444;
    gridline-color: #C0C0C0;
    background-color: #F7F7F7;
}


QTableView, QHeaderView
{
    border-radius: 0px;
}

QTableView::item:pressed, QListView::item:pressed, QTreeView::item:pressed  {
    background: #7A1426;
    color: #FFFFFF;
}

QTableView::item:selected:active, QTreeView::item:selected:active, QListView::item:selected:active  {
    background: #9E1B32;
    color: #FFFFFF;
}


QHeaderView
{
    border: 1px transparent;
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section  {
    background-color: #D3D3D3;
    color: #2A2A2A;
    padding: 4px;
    border: 1px solid #C0C0C0;
    border-radius: 0px;
    text-align: center;
}

QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one
{
    border-top: 1px solid #C0C0C0;
}

QHeaderView::section::vertical
{
    border-top: transparent;
}

QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one
{
    border-left: 1px solid #C0C0C0;
}

QHeaderView::section::horizontal
{
    border-left: transparent;
}


QHeaderView::section:checked
 {
    color: #FFFFFF;
    background-color: #C5C5C5;
 }

 /* style the sort indicator */
QHeaderView::down-arrow {
    image: url("@ASSET_ROOT@/down_arrow.png");
}

QHeaderView::up-arrow {
    image: url("@ASSET_ROOT@/up_arrow.png");
}


QTableCornerButton::section {
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

QToolBox  {
    padding: 3px;
    border: 1px transparent #1A1A1A;
}

QToolBox::tab {
    color: #2A2A2A;
    background-color: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-bottom: 1px transparent #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

 QToolBox::tab:selected { /* italicize selected tabs */
    font: italic;
    background-color: #FFFFFF;
    border-color: #9E1B32;
 }

QStatusBar::item {
    border: 1px solid #D3D3D3;
    border-radius: 2px;
 }


QFrame[height="3"], QFrame[width="3"] {
    background-color: #AAA;
}


QSplitter::handle {
    border: 1px dashed #D3D3D3;
}

QSplitter::handle:hover {
    background-color: #D8D8D8;
    border: 1px solid #D3D3D3;
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}

QListWidget {
    background-color: #2A2A2A;
    border-radius: 5px;
    margin-left: 5px;
}

QListWidget::item {
    color: #1A1A1A;
}

QMessageBox {
    background-color: #FFFFFF;
    color: #2A2A2A;
}

ColorButton::enabled {
    border-radius: 0px;
    border: 1px solid #444444;
}

ColorButton::disabled {
    border-radius: 0px;
    border: 1px solid #AAAAAA;
}
