[Desktop Entry]
Type=Application
Name=Biblion Explorer
Comment=Launch Biblion Explorer
Version=1.0
Exec=/home/jetson/Projects/BiblionOCR/launchers/run-myexplorer.sh %f
TryExec=/home/jetson/Projects/BiblionOCR/launchers/run-myexplorer.sh
Icon=/home/jetson/Projects/BiblionOCR/ViewController/0-MainUI/Icons/BiblionBoxer2.png
Path=/home/jetson/Projects/BiblionOCR
Terminal=true
Categories=Utility;
Name[en_US]=Biblion Explorer
